<div class="mineContent">
	<div class="userPh">
		<div class="user">
			<p class="user-phone">139xxxxxxxx</p>
			<p class="user-level">v0</p>
			<span>&gt;</span>
		</div>
	</div>
	<div class="favorite">
		<div class="goodsFa">
			<span class="item-inner">商品收藏</span>
		</div>
		<div class="split"></div>
		<div class="shopFa">
			<span class="item-inner">店铺收藏</span>
		</div>
	</div>
	<div class="mine-group">
		<div>
			<div class="mine-order">
				<div class="chakan">
					<span class="check"><a href="#/all">查看全部订单</a></span>
					我的订单
				</div>
				<ul class="order-types">
					<li class="order-type dfk"><a href="#/dfk">待付款</a></li>
					<li class="order-type dsh"><a href="#/dsh">待收货</a></li>
					<li class="order-type dpj"><a href="#/dpj">待评价</a></li>
					<li class="order-type tksh"><a href="#/tksh">退款/售后</a></li>
				</ul>
			</div>
			
			<div class="order-groups">
				<ul class="order-group">
					<li class="order-grp jf">积分商城</li>
					<li class="order-grp yhq">优惠券</li>
					<li class="order-grp shdz">收货地址</li>
					<li class="order-grp kffk">客服反馈</li>
					<li class="order-grp gywm">关于我们</li>
				</ul>
			</div>
			<div class="esc">
				退出当前账号
			</div>
		</div>
	</div>
</div>