.shopContent{
	width: 100%;
	height: 100%;
}
.shop-title{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4.5rem;
	background: white;
	border-bottom: 1px solid #E6E6E6;
}
.shop-title div{
	position: absolute;
	left: 6rem;
	font-size: 1.4rem;
	text-align: center;
	width: 20rem;
	height: 4.5rem;
	line-height: 4.5rem;
}
.kongCar{
	width: 100%;
	height: 27rem;
	margin-top: 4.5rem;
	display: none;
}
.kongCarIn{
	padding-top: 20%;
	width: 100%;
	height: 27rem;
}
.posit{
	width: 8rem;
	height: 8rem;
	border-radius: 4rem;
	background: url(../img/posit.png) no-repeat center center;
	background-size: contain;
	margin: auto;
}
.kongCarTxt{
	text-align: center;
	line-height: 5rem;
	font-size: 1.3rem;
	margin: auto;
	color: #999999;
}
.goShop{
	padding: 0.4rem 3rem;
	font-size: 1.3rem;
	border: 1px solid #E0E0E0;
	color: #999999;
	display: inline-block;
	position: relative;
	left: 11rem;
}
.shiCar{
	width: 100%;
	height: 100%;
	margin-top: 4.5rem;
}
.userInfo{
	width: 100%;
	height: 8.35rem;
	background: url(../img/jianbian.png) repeat-x;
	background-position: left bottom,left top;
	background-size: auto .3rem;
	background-color: #FFFFFF;
	border-top: 0.3rem solid;
	border-image: url(../img/jianbian.png);
}
.userInfo>ul{
	width: 83%;
	height: 93%;
	float: left;
}
.userInfo >ul>li{
	width: 100%;
	height: 31%;
	font-size: 1.4rem;
	font-weight: 400;
}
.userInfo>ul>li>span:first-child{
	display: inline-block;
	width: 34%;
	height: 100%;
	padding-left: 2rem;
}
.userInfo>ul>li>span:last-child{
	display: inline-block;
	width: 66%;
	height: 100%;
}
.userInfo>span{
	display: inline-block;
	font-size: 1.4rem;
	line-height: 8.35rem;
}

.cart-group{
	width: 100%;
	margin-top: 0.5rem;
	background: white;
}
.songyq{
	padding-left: 1.4rem;
	position: relative;
	width: 100%;
	height: 5rem;
	font-size: 1.2rem;
	border-bottom: 1px solid #E0E0E0;
}
.songyq>div{
	padding-top: 0.5rem;
	font-size: 1.2rem;
	color: #999;
	line-height: 2rem;
}
.songyq>div:before{
	content: "";
	width: 0.4rem;
	height: 1.2rem;
	background: #FFD600;
	vertical-align: -.1rem;
	border-radius: 0.2rem;
	margin-right: 0.5rem;
}
.songyq>span{
	position: absolute;
	top: 0.4rem;
	right: 0.5rem;
	font-size: 1.2rem;
	display: inline-block;
	width: 7rem;
	text-align: center;
	height: 2.4rem;
	line-height: 2.4rem;
	border-radius: 1.2rem;
	border: 1px solid #FF4400;
	color: #FF4400;
}
.songyq>p{
	margin-top: 0.5rem;
	font-size: 1.1rem;color: #999999;
	line-height: 2rem;
}
.songTime{
	width: 100%;
	height: 5rem;
	border: 1px solid #E0E0E0;
	padding-left: 1.4rem;
	padding-right: 1.6rem;
	font-size: 1.4rem;
	line-height: 5rem;
}
.songTime>span:nth-child(2){
	color: red;
	margin-left: 1.4rem;
}
.songTime>span:nth-child(3){
	float: right;
}
.songbz{
	width: 100%;
	height: 5rem;
	border: 1px solid #E0E0E0;
	padding-left: 1.4rem;
	line-height: 5rem;
	font-size: 1.4rem;
}
.songbz>input{
	width: 21.9rem;
	height: 3.2rem;
	border: 1px solid #cecece;
	text-indent: .5rem;
	border-radius: .5rem;
	margin-left: .3rem;
}
.songbz>input[placeholder]{
	font-size: 1.4rem;
}
.sp{
	width: 100%;
	height: 7.8rem;
	background: white;
}
.spIn{
	width: 100%;
	height: 100%;
}
.gou{
	display: inline-block;
	background: url(../img/gou.png) no-repeat center center;
	background-size: 1.8rem 1.8rem;
	width: 5rem;
	height: 100%;
}
.spImg{
	display: inline-block;
	width: 5rem;
	height: 100%;
	background: url(../img/chunniunai.png) no-repeat center center;
	background-size: 5rem 5rem;
}
